{% extends 'blog/base.html' %}

{% block content %}
<div class="post" >
    <div class="date" >
        {% if post.published_date %}
            <STRONG>{{post.published_date}} </STRONG>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}" role="button" >Publish</a>
        {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" role="button" ><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" role="button" ><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <h1>{{ post.title }} </h1>
    <p>{{ post.text|linebreaks }}</p>
</div>
{% for comment in post.comments.all %}
    <div class="comment">
        <div>created date: {{ comment.created_date }}</div>
        <strong>Author: {{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet: </p>
{% endfor %}
{% endblock %}
