<html>
    <head>
        <title>Jin's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Taewoo Blog</a></h1>
        </div>
        <div>
            <p>published: 16.05.05, 11:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam.</p>
        </div>
        <div>
            <p>published: 16.05.06, 11:00</p>
            <h2><a href="">My second post</a></h2>
            <p>second~~ post!!!! </p>
        </div>
    </body>
</html>
