{% extends 'blog/base.html' %}      # template 이하 경로로 설정.

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <STRONG>{{post.published_date}}</STRONG>
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
            <p>{{post.text|linebreaks}}</p>
            <a href="{% url 'post_detail' pk=post.pk %}" >Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}
